<div class="chat-top">
  <div class="chat-name">ChatName</div>
  <div class="chat-end"><a href="#">チャットを終了する</a></div>
</div>

<div class="chat-main">
  <div class="send-contents">
    <div class="upper-contents">
      <div class="send-user">Yuna</div>
      <div class="send-time">2022/5/23</div>
    </div>
    <div class="lower-contents">
      <div class="send-message">Good morning</div>
    </div>
  </div>
</div>
<div class="chat-send">
    <div class="form-bar">
      <input class="form-message" type="text" placeholder="type a message">
      <label class="form-image">
        <span class="image-file">画像</span>
        <input type="file" class="hidden">
      </label>
    </div>
    <input class="form-submit" type="submit" value="送信">
</div>